.mainDivWaiter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.mainDivWaiter img {
width: 90px;
height: 90px;
}
.Top {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#backWaiter {
    width: 14%;
    height: 40px;
    align-self: center;
}
#backWaiter a { 
    font-size: 20px;
}
.DivLeft {
    width: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
.OptionTables{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
}
.inputCostumer {
    width: 90%;
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    background-color: #FF91B2;
    border-color: #FF91B2;
}
#inputName{
    width: 70%;
    color: white;
}
#inputTable{
    width: 15%;
    margin-right: 35px;
    color: white;
}
.DivOptions {
    display: flex;
    width: 100%;
}
.SelectOption{
    padding-top: 20px;
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}
.SelectOption button {
    align-self: center;
    width: 100%;
}
.displayMenu {
    width: 50%;
    height: 500px;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow-y: auto;
}
.SelectedMenu {
    height: 250px;
    width: 100%;
    border-radius: 30px;
    border-color: #48BFF1;
    background-color: #48BFF1;
    color: white;
    font-size: 20px;
}
.SelectedMenu img {
    height: 100px;
    width: 100px;
}
#itemDescription {
    font-size: 10px;
}
.DivRight{
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 600px;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
}
.DivProducts {
    background-color: #48BFF1;
    width: 100%;
    border-radius: 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.BeforeOrder {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap:25px;
    background-color: #48BFF1;
    height: 500px;
    border-radius: 25px;
    color: white;
}
.BeforeOrder img {
    width: 300px;  
    height: 300px;
}
.ShowClientNameTable {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.ShowClientNameTable p {
    font-size: 20px;
    color: white;
    width: 40%;
    text-align: center;
}
.ProductsToOrder{
    background-color: #48BFF1;
    height: 150px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.ProductName {
    background-color: #F7ECEC;
    width: 45%;
    border-radius: 15px;
    color: #FF91B2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.AddOrRemove {
    display: flex;
    width: 25%;
    gap: 25px;
}
.EditButton {
    background-color: #FF91B2;
    color: white;
    width: 30px;
    height:30px ;
    border-radius: 15px;
    border-bottom: #FF91B2;
    align-items: center;
    align-self: center;
}
.TotalAndOrder {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #48BFF1;
    height:  90px;
    border-radius: 25px;
}
.buttonOrder {
    width: 30%;
    height: 70px;
    background-color:#FF91B2;
    border-color:#FF91B2;
    color: white;
    border-radius: 15px;
}